<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Charts.Core" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Charts.Core.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Charts.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.CodeParser" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.CodeParser.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Data" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Data.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.DataAccess" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.DataAccess.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.DataAccess.UI" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.DataAccess.UI.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Diagram.Core" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Diagram.Core.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Gauges.Core" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Gauges.Core.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Images" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Images.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Office.Core" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Office.Core.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Pdf.Core" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Pdf.Core.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.PivotGrid.Core" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.PivotGrid.Core.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Printing.Core" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Printing.Core.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Reporting.Core" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Reporting.Core.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.RichEdit.Core" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.RichEdit.Core.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.RichEdit.Export" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Sparkline.Core" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Sparkline.Core.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Utils" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Utils.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Utils.UI" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Utils.UI.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Win" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Win.Charts" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Win.Charts.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Win.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Win.Diagram" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Win.Diagram.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Win.Reporting" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Win.Reporting.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Win.RichEdit" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Win.RichEdit.de" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Xpo" version="18.1.5" targetFramework="net45" />
  <package id="DevExpress.Xpo.de" version="18.1.5" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net45" />
  <package id="Microsoft.OData.Client" version="7.5.0" targetFramework="net45" />
  <package id="Microsoft.OData.Core" version="7.5.0" targetFramework="net45" />
  <package id="Microsoft.OData.Edm" version="7.5.0" targetFramework="net45" />
  <package id="Microsoft.OData.ProxyExtensions" version="1.0.35" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net40" />
  <package id="Microsoft.Office365.OutlookServices" version="1.0.41.0" targetFramework="net45" />
  <package id="Microsoft.Spatial" version="7.5.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net45" />
</packages>